<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forgot password</title>
</head>
<body>
<form id='forgot_password'>
    <label>Email: </label>
    <input type="text" id="email">
    <input type="button" value="Send Mail" id="send">
</form>
<script>
$('#send').on('click', function(){
    var data = {
        'email' : $('#email').val(),
    }

    console.log(data)

    $.ajax({
        'url':'http://commonproject.com/accounts/forgot_password/',
        'method':'post',
        'data':JSON.stringify(data),
        'dataType': "json",
        'success': function(response){
            console.log(response)
        }
    })
})
</script>
</body>
</html>