<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<script src="/static/main/js/src/jquery.js"></script>
<body>
<form id="signup_user">
    <input type="text" id="first_name">
    <input type="text" id="last_name">
    <input type="text" id="email">
    <input type="text" id="password">
    <input type="text" id="confirm_password">
    <input type="button" id="signup">
</form>
<script>
$('#signup').on('click', function(){
    var data = {
        'first_name' : $('#first_name').val(),
        'last_name' : $('#last_name').val(),
        'email' : $('#email').val(),
        'password' : $('#password').val(),
        'confirm_password' : $('#confirm_password').val(),

    }

    console.log(data)

    $.ajax({
        'url':'http://app.creathives.com/api/accounts/create_user/',
        'method':'post',
        'data':data,
        'success': function(response){
            console.log(response)
        }
    })
})
</script>
</body>

</html>