{% include 'partials/header-home.html' %}

<div class="container">
		<div class="reset-field">
			<div class="reset-password-section">
				<h3>Reset Password</h3>
				<p class="reset-text">
					Password should contain minimum 8 characters.
				</p>
				<div class="inputSection text-center">
					<form>
						<input type="password" class="form-control" placeholder="Password">
						<input type="password" class="form-control" placeholder="Password Again">
						<button class="btn btn-black btn-cancel">Cancel</button>
						<button class="btn btn-black btn-submit">Submit</button>
					</form>
				</div>
			</div>
			<div class="reset-success-section hide">
				<h3>Password Changed Successfully!</h3>
				<p class="reset-text">
					Password has been changed successfully. You can try logging
					in using your new password
				</p>
				<button class="btn btn-black">Login Using Email Address</button>
			</div>
		</div>
	</div>
	<div class="footer-copyrights footer-fixed">
		<div class="footer-copy">
			<div class="container">
				<div class="col-md-6 float-left">
					<img src="/static/common/images/footer-logo.png">
				</div>
				<div class="col-md-6">
					<label>&copy Copyrights Reserved </label>
				</div>
			</div>
		</div>
	</div>
	<!-- Js file -->
<script src="/static/app/home/js/index.js"></script>
<script src="/static/common/js/src/ajax_helper.js"></script>
</body>
</html>