<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <meta name="viewport" content="width=device-width,intial-scale=1,maximum-scale=1,minimum-scale=1">
</head>
<body>
<form method="post">
    {% csrf_token %}

    <div class="Updatebackrect">
        <div class="tlogin">Update your password</div>
        <input type="password" name="password" id="password" class="password" placeholder="Password">

        <input type="password" name="confirm_password" id="confirm_password" class="password" placeholder="Confirm Password">
        <input type="hidden" name="key" id="key" value={{ key }}>
        <br/><br/>
        <input type="button" id="update" class="Login">Update</input>
        <p class="tFP">{{result}}</p>
    </div>
</form>
$('#update').on('click', function(){
    var data = {
        'password' : $('#password').val(),
        'confirm_password' : $('#confirm_password').val(),
        'key' : $('#key').val(),
    }

    console.log(data)

    $.ajax({
        'url':'http://commonproject.com/accounts/reset_password/',
        'method':'post',
        'data':JSON.stringify(data),
        'dataType': "json",
        'success': function(response){
            console.log(response)
        }
    })
})
</body>
</html>