<html style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;">
<head>
	<title>Creathive Email</title>
	<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700,500" rel="stylesheet" type="text/css">

</head>
<body style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;line-height: 1;width: 650px;font-family: 'Roboto', sans-serif;">
	<header style="margin: 15px 35px;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;padding-bottom: 10px;border-bottom: 1px solid #ebebeb;">
		<div class="col-6 text-left" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;width: 50%;min-height: 1px;position: relative;float: left;text-align: left;">
			<a href="http://textnook.com" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;"><img src="/static/main/images/logo.png" class="logo" alt="Creathives" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;"></a>
		</div>
		<div class="col-6 text-right" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;width: 50%;min-height: 1px;position: relative;float: left;text-align: right;">
			<a href="#" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;"><span class="toll-text orange-color" style="margin: 0;padding: 5px 10px;border: 0;font-size: 12px;font: inherit;vertical-align: bottom;box-sizing: border-box;display: inline-block;color: #e3a626;">Toll Free 1-800-200-6353</span></a>
		</div>
		<div class="clearfix" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;clear: both;"></div>
	</header>
	<div class="container message" style="margin: 0 60px;padding: 25px 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;border-bottom: 1px solid #ebebeb;">
		<h4 class="black-color fontbold font20 padb-10" style="margin: 0;padding: 0;border: 0;font-size: 20px;font: inherit;vertical-align: baseline;box-sizing: border-box;color: #000000;padding-bottom: 10px;font-weight: 700;">Hi, {{user.get_full_name}}!</h4>
		<p class="font14 semiblack-color" style="margin: 0;padding: 10px 0;border: 0;font-size: 14px;font: inherit;vertical-align: baseline;box-sizing: border-box;color: #6e6d6d;">Welcome aboard! Confirm your email to get a Creathive account right away.</p>
		<div class="text-center padt-10 padb-10" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;text-align: center;padding-top: 10px;padding-bottom: 10px;"><a href="{{activation_url}}" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;"><button class="cnf-btn fontbold" style="font-size: 12px;color: #fff;background-color: #e3a626;padding: 10px 15px;border-radius: 3pt;box-shadow: none;border: none;cursor: pointer;font-weight: 700;">CONFIRM YOUR MAIL</button></a></div>
		<p class="fontlight font12 semiblack-color text-left line-h22" style="margin: 0;padding: 10px 0;border: 0;font-size: 12px;font: inherit;vertical-align: baseline;box-sizing: border-box;text-align: left;color: #6e6d6d;font-weight: 300;line-height: 22px;">Thank you for choosing Creathive, an exclusive platform for artists and to hire artists.</p>
		<div class="clearfix" style="margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing: border-box;clear: both;"></div>
	</div>
